/**
 *                    a
 *                   / \
 *                  b   c
 *                 / \   \
 *                d   e   f
 */
 .a {
   background-color: aliceblue;
 }
 .a .b {
   background-color: antiquewhite;
 }
 .a .c {
   background-color: aqua;
 }
 .a .b .d {
   background-color: aquamarine;
 }
 .a .b .e {
   background-color: beige;
 }
 .a .c .f {
   background-color: black;
 }
 .c {
   color: aliceblue;
 }
 .e { 
   color: aliceblue;
 }
