/**
 *                    a
 *                   / \
 *                  b   c
 *                 / \   \
 *                d   e   f
 */
 .a {
   background-color: aliceblue;
 }
 .a .b {
   background-color: antiquewhite;
 }
 .a .c {
   background-color: aqua;
 }
 .a .b .d {
   background-color: aquamarine;
 }
 .a .b .e {
   background-color: beige;
 }
 .a .c .f {
   background-color: black;
 }

 .c {
   color: aliceblue;
 }
 .e { 
   color: aliceblue;
 }

 #L1618389876705{background-color:aliceblue;}
 #L1618389876705{background-color:aqua;}
 #L1618389876705{color:aliceblue;}
 #L1618389876705{background-color:black;}
 #L1618389876705{background-color:antiquewhite;}
 #L1618389876705{background-color:beige;}
 #L1618389876705{color:aliceblue;}
 #L1618389876705{background-color:aquamarine;}

 #L1618390186183{background-color:aliceblue;}
 #L1618390186183{background-color:aqua;color:aliceblue;}
 #L1618390186183{background-color:black;}
 #L1618390186183{background-color:antiquewhite;}
 #L1618390186183{background-color:beige;color:aliceblue;}
 #L1618390186183{background-color:aquamarine;}